* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1000px;
    padding: 30px 20px;
    color: #f3f3f3;
}
.header {
    margin-bottom: 40px;
    color: #1b1b32;
    text-align: center;
}
.header h1 {
    margin-bottom: 20px;
}
.header p {
    font-style: italic;
}
form {
    background-color: #1b1b32;
    padding: 25px;
    border-radius: 10px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-checkbox, .input-radio {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    justify-self: center;
}
input, select, button {
    padding: 10px;
    border-radius: 8px;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  button{
    border: none;
    background-color: #37af65;
    color: #f3f3f3;
    padding: 12px;
}
  .clue {
    font-size: 0.7rem;
}
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    padding: 10px;
    min-height: 150px;
}
  .form-field p {
    margin-bottom: 10px;
}
@media(min-width: 700px){
    .container{
        padding: 50px;
    }
    form {
        padding: 40px;
    }
}